<div>
        <br>
        <a href="/products">Ver la lista de productos</a>
        <br>
        <a href="/realTimeProducts">Productos en tiempo real</a>
        <br>
        <a href="/chat">Chat</a>
        <br>
        <a href="/users"> Usuarios</a>
        <br>
        <a href="/carts">Carritos</a>
</div>