 {{#if isAuthenticated}}
        <p>Bienvenido, {{username}}!</p>
        <!-- Contenido adicional para usuarios autenticados -->
    {{else}}
        <p>Por favor, inicia sesión.</p>
        <!-- Contenido adicional para usuarios no autenticados -->
    {{/if}}
    
<div>
 <a href="/products">Ver la lista de productos</a>
 <a href="/realTimeProducts">Productos en tiempo real</a>
 <a href="/chat">Chat</a>
 <a href="/users"> Usuarios</a>
 <a href="/carts">Carritos</a>
 <a href="/login">Login</a>
</div>
