<div>
    <h1>login</h1>

    <form id="loginUserForm">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="button" onclick="login()">Ingresar</button>
    </form>

    <a href="/api/sessions/github"><button>Entrar con Github!</button></a>

    <a href="/register"> Crear Cuenta</a>
</div>

<script src="./js/user/login.js"></script>