<div>
 <h1>Formulario para cargar producto</h1>
    <form id="textbox">
        <label>Nombre:</label>
        <input type="text" id="title">
        <label>Descripcion:</label>
        <input type="text" id="description">
        <label>Precio:</label>
        <input type="number" id="price">
        <label>imagen:</label>
        <input type="file" id="thumbnail">
        <label>Codigo:</label>
        <input type="text" id="code">
        <label>Stock:</label>
        <input type="number" id="stock">
        <input id="submit" type="submit">
    </form>
    <h2>Productos en tiempo real</h2>
    <p id="log"></p>

    <h2>Que producto queres eliminar:</h2>
    <input type="number" id="deleteProducts">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>