<div>
  <h1>Registrar Usuario</h1>

  <form id="userForm">
    <label for="first_name">Nombre:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Apellido:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="button" onclick="registrarUsuario()">Registrar Usuario</button>
  </form>

</div>

<script src="./js/user/login.js"></script>